<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bulma.min.css' />
  </head>
  <body>
  <div class="container">
    <div class="notification has-text-centered">
      <h1 class="title is-1"><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <form autocomplete="off" action="/interaction/<%= details.uuid %>/login" method="post">
        <div class="field">
          <input type="hidden" name="uuid" value="<%= details.uuid %>"/>
          <div class="control">
            <input required class="input is-medium" type="text" name="login" placeholder="Enter any login" <% if (!details.params.login_hint) { %>autofocus="on"<% } else { %> value="<%= details.params.login_hint %>" <% } %>>
          </div>
          <br>
          <div class="control">
            <input required class="input is-medium" type="password" name="password" placeholder="and password" <% if (details.params.login_hint) { %>autofocus="on"<% } %>>
          </div>
          <br>
          <div class="control">
            <label><input type="checkbox" name="remember" value="yes" checked="yes">Stay signed in</label>
          </div>
          <br>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link has-text-centered">Sign-in</button>
            </div>
            <div class="control">
              <button class="button is-text">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </body>
</html>
